@use './utils' as u;

.container{
    width: 100vw;
    height: 100vh;
    background-color: var(--blue-950);
}

.card{
    min-width: 300px;
    width: 300px;
    height: auto;
    background-color: var(--blue-900);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 1rem;

    @include u.breakpoint(medium){
        width: 400px;
        height: auto;
    }

    @include u.breakpoint(large){
        width: 500px;
    }

    &--image{
        position: relative;
        z-index: 1;
        img{
            width: 100%;
            height: auto;
        }

        &:hover .overlay{
            display: flex;
        }
    }

    &--image:hover + &--content h2 {
        color: var(--cyan-400);
    }

    &--image:hover + &--content .card--content__profile .fontName{
        color: var(--cyan-400);
    }

    &--content{
        height: 100%;
        margin-top: 1rem;
        gap: 1rem;

            h2{
                margin: 0;
                font-size: 1rem;
            }
            
            p{
                font-size: .8rem;
                color: var(--grey-300);
            }


        &__details{
            font-size: 1rem;

            img{
                width: 20px;
                height: 20px;
                margin-right: 0.5rem;
            }

            &__price{
                font-size: 1rem;
                font-weight: bold;
                color: var(--cyan-400);
            }

            &__time{
                color: var(--gray-400);
                color: var(--grey-300);
            }
        }

        &__profile{

            img{
                width: 35px;
                height: 35px;
                border-radius: 50%;
                margin-right: 1rem;
            }
        }
    }
}

.rounded{
    border-radius: 10px;
}
.fontPrefix{
    color: var(--grey-300);
    font-size: .8rem;
}
.fontName{
    color: white;
    font-size: .8rem;
    font-weight: bold;
    padding-left: .5rem;
}
.avatar{
    border: 1px solid white;
}

.active{
    color: var(--cyan-400);
}
.overlay{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--cyan-400);
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0.6;
    top: 0;
    left: 0;

    img{
        width: 35px;
        height: 35px;
    }
}
[data-active='true']{

}