@use './utils' as u;
@use './variables' as v;

.container{
    width: 100vw;
    height: auto;
    min-height: 100vh;

    min-width: 330px;   // pro-max width
    max-width: 440px;  // small mobile width

    @include u.breakpoint('medium'){
        max-width: 768px;
    }

    @include u.breakpoint('large'){
        max-width: 1440px;
    }

    display: flex;
    flex-direction: column;
}

.menu{
    width: 100%;
    background-color: transparent;
    padding: 1rem;
    color: v.$white;

    &--items{
        ul{
            display: none;
            list-style: none;
            gap: 1rem;
        }
        ul li a { color: white;}
    }

    &--mobile{
        display: flex;
        justify-content: center;
        align-items: center;

        &__hamburger{
            cursor: pointer;
            font-size: 2rem;
        }
    }

    @include u.breakpoint('large'){
        &--items{
            ul{
                display: flex;
            }
        }
        &--mobile{
            display: none; 
        }
    }
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 1rem;
    gap: 1.5rem;
}

.mainHeader{
    display: block;
    height: 40vh; /* reduce header height; adjust as needed */
    position: relative;
    overflow: hidden;
}

.headerImage > img{   
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header{
    position: absolute;
    z-index: 10;
    align-items: center;
}

.footer{
    position: relative;
    justify-content: flex-start;
    background-color: black;
}