@use './utils' as u;
@use './variables' as v;

.container{
    width: 100vw;
    height: 100vh;
}

.menu{
    width: 100%;
    background-color: v.$black;
    color: v.$white;

    &--items{
        ul{
            list-style: none;
            gap: 1rem;
        }
        ul li a { color: white;}
    }
}

.header{
    align-items: center;
}

.footer{
    justify-content: flex-start;
}